<h1>Ваше Замовлення</h1>
 <table class="highlight responsive-table">
        <thead>
          <tr>
              <th>Назва</th>
              <th>Ціна</th>
              <th>Кількість</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><strong>Бакет M 20 гострих крилець</strong></td>
            <td>300 грн</td>
            <td>1 шт</td>
            <td>
              <button class="btn"><i class="material-icons">add</i></button>
              <button class="btn"><i class="material-icons">remove</i></button>
              <button class="btn red"><i class="material-icons">clear</i></button>
            </td>
          </tr>
          <tr>
            <td><strong>Бакет M 20 гострих крилець</strong></td>
            <td>300 грн</td>
            <td>1 шт</td>
            <td>
              <button class="btn" data-id="1"><i class="material-icons">add</i></button>
              <button class="btn" data-id="1"><i class="material-icons">remove</i></button>
              <button class="btn red" data-id="1"><i class="material-icons">clear</i></button>
            </td>
          </tr>
          <tr>
            <td><strong>Бакет M 20 гострих крилець</strong></td>
            <td>300 грн</td>
            <td>1 шт</td>
            <td>
              <button class="btn"><i class="material-icons">add</i></button>
              <button class="btn"><i class="material-icons">remove</i></button>
              <button class="btn red"><i class="material-icons">clear</i></button>
            </td>
          </tr>
          <tr>
            <td><strong>Бакет M 20 гострих крилець</strong></td>
            <td>300 грн</td>
            <td>1 шт</td>
            <td>
              <button class="btn"><i class="material-icons">add</i></button>
              <button class="btn"><i class="material-icons">remove</i></button>
              <button class="btn red"><i class="material-icons">clear</i></button>
            </td>
          </tr>
          <tr>
            <td><strong>Бакет M 20 гострих крилець</strong></td>
            <td>300 грн</td>
            <td>1 шт</td>
            <td>
              <button class="btn"><i class="material-icons">add</i></button>
              <button class="btn"><i class="material-icons">remove</i></button>
              <button class="btn red"><i class="material-icons">clear</i></button>
            </td>
          </tr>
        </tbody>
      </table>