<!-- Navbar goes here -->

<!-- Page Layout here -->
<div class="row">

  <div id="shop" class="col s12 m4 l3" style="position:sticky; top: 10px">
    <ul class="collection" style="border: none">
      <li class="collection-item avatar">
        <img
          src="https://play-lh.googleusercontent.com/0loj-whL4XSeF4v5W3d213b1pH0RRTQUlmK1VESE-Rsydp06rVyPTq_Hwpwm1avB8URL"
          alt="McDonald's"
          class="circle"
        />
        <span class="title"><a href="#">McDonald's</a></span><br />
        <span>Доставка: &#8372;50</span>
      </li>
      <li class="collection-item avatar">
        <img
          src="https://www.roaliment.ro/wp-content/uploads/2019/09/kfc-logo.png"
          alt="KFC"
          class="circle"
        />
        <span class="title"><a href="#">KFC</a></span><br />
        <span>Доставка: &#8372;40</span>
      </li>
      <li class="collection-item avatar">
        <img
          src="https://igx.4sqi.net/img/user/original/FKKJFLRB3YIIXYEE.jpg"
          alt="Puzata Khata"
          class="circle"
        />
        <span class="title"><a href="#">Пузата Хата</a></span><br />
        <span>Доставка: &#8372;45</span>
      </li>
      <li class="collection-item avatar">
        <img
          src="https://seeklogo.com/images/F/fatburger-logo-0E1A134A8F-seeklogo.com.png"
          alt="Fat Burger"
          class="circle"
        />
        <span class="title"><a href="#">Fat Burger</a></span><br />
        <span>Доставка: &#8372;55</span>
      </li>
      <li class="collection-item avatar">
        <img
          src="https://assets.dots.live/misteram-public/8be6f85e6a88a80cbaef12caeed56887-826x0.png"
          alt="Khinkalnia"
          class="circle"
        />
        <span class="title"><a href="#">Хінкальня</a></span><br />
        <span>Доставка: &#8372;60</span>
      </li>
    </ul>

  </div>

  <div id="meal" class="col s12 m8 l9">
    <ul class="collection">
      <li class="collection-item">
        <div class="row valign-wrapper">
          <div class="col s2"><img
              src="https://images.bolt.eu/store/2022/2022-06-20/26510ea3-4bd5-4afd-91e9-a2b838ea97d5.png"
              alt="Bucket"
              class="circle"
              width="100"
            /></div>
          <div class="col s10"><h6>Бакет M 20 гострих крилець</h6>
            <span>20 крилець обсмажених в хрусткій гострій паніровці</span><br
            /><br />
            <span class="price" style="padding-top: 10px;">300 грн</span><button
              class="btn secondary-content"
            ><i class="material-icons">add</i></button>
          </div>
        </div>

      </li>
      <li class="collection-item">
        <div class="row valign-wrapper">
          <div class="col s2"><img
              src="https://images.bolt.eu/store/2022/2022-06-20/26510ea3-4bd5-4afd-91e9-a2b838ea97d5.png"
              alt="Bucket"
              class="circle"
              width="100"
            /></div>
          <div class="col s10"><h6>Бакет M 20 гострих крилець</h6>
            <span>20 крилець обсмажених в хрусткій гострій паніровці</span><br
            /><br />
            <span class="price" style="padding-top: 10px;">300 грн</span><button
              class="btn secondary-content"
            ><i class="material-icons">add</i></button>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row valign-wrapper">
          <div class="col s2"><img
              src="https://images.bolt.eu/store/2022/2022-06-20/26510ea3-4bd5-4afd-91e9-a2b838ea97d5.png"
              alt="Bucket"
              class="circle"
              width="100"
            /></div>
          <div class="col s10"><h6>Бакет M 20 гострих крилець</h6>
            <span>20 крилець обсмажених в хрусткій гострій паніровці</span><br
            /><br />
            <span class="price" style="padding-top: 10px;">300 грн</span><button
              class="btn secondary-content"
            ><i class="material-icons">add</i></button>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row valign-wrapper">
          <div class="col s2"><img
              src="https://images.bolt.eu/store/2022/2022-06-20/26510ea3-4bd5-4afd-91e9-a2b838ea97d5.png"
              alt="Bucket"
              class="circle"
              width="100"
            /></div>
          <div class="col s10"><h6>Бакет M 20 гострих крилець</h6>
            <span>20 крилець обсмажених в хрусткій гострій паніровці</span><br
            /><br />
            <span class="price" style="padding-top: 10px;">300 грн</span><button
              class="btn secondary-content"
            ><i class="material-icons">add</i></button>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row valign-wrapper">
          <div class="col s2"><img
              src="https://images.bolt.eu/store/2022/2022-06-20/26510ea3-4bd5-4afd-91e9-a2b838ea97d5.png"
              alt="Bucket"
              class="circle"
              width="100"
            /></div>
          <div class="col s10"><h6>Бакет M 20 гострих крилець</h6>
            <span>20 крилець обсмажених в хрусткій гострій паніровці</span><br
            /><br />
            <span class="price" style="padding-top: 10px;">300 грн</span><button
              class="btn secondary-content"
            ><i class="material-icons">add</i></button>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row valign-wrapper">
          <div class="col s2"><img
              src="https://images.bolt.eu/store/2022/2022-06-20/26510ea3-4bd5-4afd-91e9-a2b838ea97d5.png"
              alt="Bucket"
              class="circle"
              width="100"
            /></div>
          <div class="col s10"><h6>Бакет M 20 гострих крилець</h6>
            <span>20 крилець обсмажених в хрусткій гострій паніровці</span><br
            /><br />
            <span class="price" style="padding-top: 10px;">300 грн</span><button
              class="btn secondary-content"
            ><i class="material-icons">add</i></button>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row valign-wrapper">
          <div class="col s2"><img
              src="https://images.bolt.eu/store/2022/2022-06-20/26510ea3-4bd5-4afd-91e9-a2b838ea97d5.png"
              alt="Bucket"
              class="circle"
              width="100"
            /></div>
          <div class="col s10"><h6>Бакет M 20 гострих крилець</h6>
            <span>20 крилець обсмажених в хрусткій гострій паніровці</span><br
            /><br />
            <span class="price" style="padding-top: 10px;">300 грн</span><button
              class="btn secondary-content"
            ><i class="material-icons">add</i></button>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row valign-wrapper">
          <div class="col s2"><img
              src="https://images.bolt.eu/store/2022/2022-06-20/26510ea3-4bd5-4afd-91e9-a2b838ea97d5.png"
              alt="Bucket"
              class="circle"
              width="100"
            /></div>
          <div class="col s10"><h6>Бакет M 20 гострих крилець</h6>
            <span>20 крилець обсмажених в хрусткій гострій паніровці</span><br
            /><br />
            <span class="price" style="padding-top: 10px;">300 грн</span><button
              class="btn secondary-content"
            ><i class="material-icons">add</i></button>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>